name: Gradle initScript release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version without 'v' (eg '1.1' or '1.1.1')"
        type: string
        required: true

permissions:
  contents: write
  pull-requests: write

jobs:
  update-reference:
    runs-on: ubuntu-latest
    steps:
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GH_BOT_PGP_PRIVATE_KEY }}
          passphrase: ${{ secrets.GH_BOT_PGP_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_config_global: true

      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          develocity-access-key: ${{ secrets.DV_SOLUTIONS_ACCESS_KEY }}

      - name: Generate reference script with version
        run: ./gradlew promote -Pversion=${{ inputs.version }}

      - name: Commit & push changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_author: bot-githubaction <bot-githubaction@gradle.com>
          commit_user_name: bot-githubaction
          commit_user_email: bot-githubaction@gradle.com
          commit_message: '[bot] Promote init-script as v${{ inputs.version }}'
          tagging_message: 'v${{ inputs.version }}'

  update-gradle-actions:
    needs: [update-reference]
    uses: ./.github/workflows/gradle-send-update-pr.yml
    with:
      version: ${{ inputs.version }}
      repository: 'gradle/actions'
      script-location: 'sources/src/resources/init-scripts/gradle-actions.inject-develocity.init.gradle'
    secrets: inherit

  update-develocity-gitlab-templates:
    needs: [update-reference]
    uses: ./.github/workflows/gradle-send-update-pr.yml
    with:
      version: ${{ inputs.version }}
      repository: 'gradle/develocity-gitlab-templates'
      script-location: 'src/gradle/init-scripts/develocity-injection.init.gradle'
      post-process: './build.sh'
    secrets: inherit

  update-develocity-bamboo-plugin:
    needs: [update-reference]
    uses: ./.github/workflows/gradle-send-update-pr.yml
    with:
      version: ${{ inputs.version }}
      repository: 'gradle/develocity-bamboo-plugin'
      script-location: 'src/main/resources/develocity/gradle/develocity-init-script.gradle'
      post-process: |
        sed -i "s/def ENV_VAR_PREFIX = ''/def ENV_VAR_PREFIX = 'bamboo_'/" src/main/resources/develocity/gradle/develocity-init-script.gradle
    secrets: inherit

  update-jenkins-gradle-plugin:
    needs: [update-reference]
    uses: ./.github/workflows/gradle-send-update-pr.yml
    with:
      version: ${{ inputs.version }}
      repository: 'jenkinsci/gradle-plugin'
      script-location: 'src/main/resources/hudson/plugins/gradle/injection/init-script.gradle'
    secrets: inherit

  update-develocity-teamcity-plugin:
    needs: [update-reference]
    uses: ./.github/workflows/gradle-send-update-pr.yml
    with:
      version: ${{ inputs.version }}
      repository: 'gradle/develocity-teamcity-plugin'
      script-location: 'agent/src/main/resources/init-scripts/develocity-injection.init.gradle'
    secrets: inherit

  update-develocity-build-validation-scripts:
    needs: [update-reference]
    uses: ./.github/workflows/gradle-send-update-pr.yml
    with:
      version: ${{ inputs.version }}
      repository: 'gradle/develocity-build-validation-scripts'
      post-process: |
        sed -i 's/com\.gradle:develocity-injection:[^"]*/com.gradle:develocity-injection:${{ inputs.version }}/' build.gradle.kts
    secrets: inherit
